<div class="mainpic">
    <div class="Downloadtext">
        <a href="https://store.epicgames.com/en-US/p/honkai-star-rail" >
            <button class="download">Download Now</button>
        </a> 
    </div>
</div>